.header{
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    height: 120px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.list-item{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color) ;
    position: relative;
    margin: 0 8px;    
}

.font--bold{
    font-weight: 600;
}

.list-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: lightcoral;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.list-item:hover{
    opacity: .8;
    cursor: pointer;
}

.item-icon{
    font-size: 1.6rem ;
}

.item-icon::before{
    padding-right: 5px;
}

.unpointer{
    cursor: text;
    color: var(--white-color) ;
}

.mag-5 {
    margin: 0 2px;
}

/* qr code */
.header-qrcode{
    width: 230px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 200%;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease .5s;
    
}

.hover-qr:hover .header-qrcode{
    display: block;
}

.hover-qr::before{
    position: absolute;
    width: 100%;
    height: 50px;
    content: "";
    top:10px;
    display: block;
}
.qrcode{
    width: 230px;
}

.qrcode-ap{
    display: flex;
    justify-content: space-between;

}

.link-googleplay{
    height: 45px;
    margin-left: 3px;

}
.link-appstore{
    height: 38px;
    padding-top: 7px;
    margin-right: 15px;
}

