*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 46px ; 
    background-color: black ;
    position: fixed ;
    top: 0px ;
    left: 0px ;
    right: 0px;
    z-index: 5;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    background-color: rgb(190, 190, 190);
    color: black;
}
#nav > li > a{
    text-transform: uppercase;
    display: block;
    color: white;
    line-height: 46px;
    text-decoration: none ;
    padding: 0px 24px;
}
#nav .subnav li{
    list-style: none;
}

#nav .subnav{
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3) ;
    display: none;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav li a{
    color: black;
    display: block;
    line-height: 46px;
    text-decoration: none ;
    padding: 0px 48px 0px 24px;
}
.fa-caret-down{
    padding: 5px;
}

#header .font--icon{
    float: right;
}

#header .font--icon .icon{
    color: white;
    padding: 13px;
    font-size: 20px;
}
#header .font--icon:hover{
    background-color: red;
    cursor: pointer;
}
#slider{
    padding-top: 50%;
    margin-top: 46px;
    background:url('/assetc/img/Dscn4066-pendennis-dark-in-shed_crop_1200x600.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
        
}
#slider .text-content .text-location{
    margin-bottom: 25px;
}
